body{
  margin: 0;
  background-color: #ccc;
  text-align: center;
}

h1{
  font-size: 50px;
  margin: 0;
}

iframe{
  height: 400px;
  width: 659px;
  border-radius: 4px;
  margin: 0;
}

.main{
  background: url('/assets/city.jpg') repeat-x;
  text-align: center;
  height: 188px;
}

.log_in{
  color: #fff;
  float: left;
  padding: 3px 5px;
  font-size: 23px;
  background-color: #25a6e1;
  border: 1px solid #1a87b9;
  border-radius: 4px;
  text-decoration: none;
}

.username_div{
  float: right;
  font-size: 30px;
  padding: 3px 5px;
  /* background-color: #ccc; */
  border: 1px solid #000;
  border-radius: 4px;
}

.home{
  text-align: center;
}

.enter{
  color: #fff;
  font-size: 24px;
  margin: 5px;
  padding: 0 5px;
  border: 1px solid #000;
  background-color: #25a6e1;
  border-radius: 4px;
  text-decoration: none;
}

.log_in_div{
  width: 650px;
}

.video_ul{
  width: 659px;
  border: 1px solid #b3b3b3;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.comment_div{
  text-align: left;
}

.comment{
  text-decoration: none;
  background-color: #589bc4;
  color: #000;
  padding: 3px;
  border: 1px solid #447a9c;
}

.field{
  font-size: 20px;
  display: list-item;
  border: 1px solid #8585ad;
  border-radius: 4px;
}

.submit{
  color: #fff;
  float: left;
  font-size: 23px;
  border-radius: 4px;
  border: 1px solid #25a6e3;
  background-color: #25a6e6;
}

.delete{
  font-size: 13px;
  float: right;
  color: #000;
  background-color: #e62020;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 3px;
}

#delete_video{
  background-color: #ff2643
}


.username_div{
  font-size: 24px;
  width: 240px;
  background-color: #ccc;
}

.embed_video{
  color: #fff;
  padding: 1px 5px;
  background-color: #25a6e1;
  border: 1px solid #1a87b9;
  border-radius: 4px;
  text-decoration: none;
}

.comment_div{
  padding: 0 2px;
}

.comment_ul{
  padding: 0 4px;
}

#video_username{
  color: #0008ff;
}

#comment_username{
  color: #3d64ff;
}

.sign_in{
  font-size: 30px;
}

#sign_in{
  float: right;
}

#sign_up{
  float: left;
}
