body{
  margin: 0;
  background-color: #ccc;
  text-align: center;
}

h1{
  margin: 0 auto 0 20px;
  font-size: 50px;
}

iframe{
  height: 400px;
  width: 659px;
  border-radius: 4px;
  margin: 0;
}

.main{
  background: image_url('city.jpg') repeat-x;
  text-align: center;
  height: 188px;
}

.log_in{
  color: #fff;
  margin: 50px;
  padding: 3px 5px;
  font-size: 17px;
  background-color: #25a6e1;
  border: 1px solid #1a87b9;
  border-radius: 4px;
  text-decoration: none;
}

.username_div{
  float: right;
  margin: 10px 5px;
  font-size: 30px;
  padding: 3px 5px;
  border: 1px solid #000;
  border-radius: 4px;
}

.home{
  text-align: center;
}

.enter{
  color: #fff;
  font-size: 24px;
  margin: 5px;
  padding: 0 5px;
  border: 1px solid #000;
  background-color: #25a6e1;
  border-radius: 4px;
  text-decoration: none;
}

.log_in_div{
  width: 550px;
}

.video_ul{
  width: 659px;
  border: 1px solid #b3b3b3;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0;
}

.comment_div{
  text-align: left;
}

.comment{
  color: #000;
  padding: 3px;
  text-decoration: none;
  border: 1px solid #447a9c;
  background-color: #589bc4;
}

.field{
  font-size: 20px;
  display: list-item;
  border: 1px solid #8585ad;
  border-radius: 4px;
}

.area{
  border: 1px solid #8585ad;
  font-size: 15px;
  width: 248px;
  height: 50px;
  border-radius: 4px;
  margin: 3px;
}

.submit{
  color: #fff;
  float: left;
  font-size: 23px;
  border-radius: 4px;
  border: 1px solid #25a6e3;
  background-color: #25a6e6;
}

.delete{
  font-size: 13px;
  float: right;
  color: #000;
  background-color: #e62020;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 3px;
}

.delete:hover{
  background-color: #ff0000;
}

#delete_video{
  background-color: #ff2643
}

#delete_video:hover{
  background-color: #ff5757;
}

.username_div{
  width: 240px;
  font-size: 24px;
  background-color: #ccc;
}

p{
  float: left;
  margin: 0;
  font-size: 22px;
}

.embed_video{
  color: #fff;
  margin: 15px;
  font-size: 20px;
  padding: 1px 5px;
  border-radius: 4px;
  text-decoration: none;
  background-color: #25a6e1;
  border: 1px solid #1a87b9;
}

.comment_div{
  padding: 0 2px;
}

.post_comment{
  float: left;
  margin: 0;
  width: 275px;
}

.comment_ul{
  padding: 0 4px;
}

.embed{
  font-size: 30px;
  width: 200px;
}

#video_username{
  color: #0008ff;
}

#comment_username{
  color: #3d64ff;
}

.sign_in{
  font-size: 30px;
}

#sign_in{
  float: right;
  border: 1px solid #989b9e;
  border-radius: 4px;
}

#sign_up{
  float: left;
  border: 1px solid #989b9e;
  border-radius: 4px;
}

#your_username{
}
