<!DOCTYPE html>
<html>
<head>
  <title>NotNice</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%# <%= javascript_include_tag "application" %1> %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1> TownNotNice </h1>
<%= yield %>

</body>
</html>
